*{
	background-color: black;
	color: lightpink;
	font-family: monospace;
	box-sizing: border-box;
	font-size: 15px;
}

a{
	text-decoration: none;
	font-style: italic;
}

button{
	padding-left: 0px;
}


.header-text{
	font-size: 60px;
	text-decoration: underline;
}

.header-caption{
	font-size: 25px;
}

#options_bar{
	display: flex;
	list-style-type: none;
	align-items: center;

	justify-content: space-between;
	flex-wrap: wrap;
}

#options_bar > li {
	font-size: 30px;
	padding: 0px 40px 0px 40px;
	justify-content: center;
	flex: 1;
	cursor: pointer;
	float: left;
}

#option-about{
	font-style: italic;
}

#about{
	display: initial;

}

#interests_container{
	display:inline;
	float: left;
}

#interests_container > div{
/*	float: left;*/
	text-align: left;
}

.list_name{
	font-size: 25px;
}

#resume{
	display: none;
}

.job_title{
    font-size: 20px;
}

.job_dates{
    font-size: 15px;
}

.job_description{
    font-size: 15px;
}

#projects{
	display: none;
}

#contact{
	display: none;
}

#contact_table{
	display: flex;
}

#contact_table{
	font-size: 20px;
}

.accordion {
	border: none;
	cursor: pointer;	
	transition: 0.4s;
}

.active, .accordion:hover {
	font-style: italic;
}

.panel {
	display: none;
	overflow: hidden;
}

