*{
	background-color: black;
	color: lightpink;
	font-family: monospace;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	font-style: italic;
}

.header-text{
	font-size: 60px;
	text-decoration: underline;
}

.header-caption{
	font-size: 35px;
}

#options_bar{
	display: flex;
	list-style-type: none;
	align-items: center;

	justify-content: space-around;
	flex-wrap: wrap;
}

#options_bar > li {
	font-size: 25px;
	padding: 0px 40px 0px 40px;
	justify-content: center;
	flex: 1;
}

#option-about{
	font-style: italic;
}

#about{
	display: initial;

}

#resume{
	display: none;
}

#projects{
	display: none;
}

#interests{
	display: none;
}

#contact{
	display: none;
}

#contact_list{
	list-style-type: none;
}

#contact_table{
	font-size: 20px;
}