* {
    box-sizing: border-box;
	background-color: wheat;
	font-family: sans-serif;
	
}

.header{
	text-align: center;
	font-family: 'Ranga', cursive;
}

#page-header{
	font-size: 3em;
}

#myname{
	font-size: .75em;
}

#instructions{
	display: initial;
}

/* Hide elements until they are shown by JS*/
#monitor{
	display: none;
}

#officeHours{
	display: none;
}

#mudacSign{
	display: none;
}

#icots{
	display: none;
}

#seattle{
	display: none;
}

#verdict{
	display: none;
}

.left{
	display: block;
	position: relative;
	background-color: floralwhite;
	text-align: center;
	overflow: auto;
	max-height: 590px;

}

.left *{
	background-color: floralwhite;
}

.left-side-header{
	font-size: 2em;
}

.left-image{
	max-width: 150px;
}

.left p{
	text-align: left;
}

/* aligns verdict button to the right*/
#bottom-of-left{
	text-align: right;
}

#verdict_button{
	visibility: hidden;
	background-color: white;
}

#counter{
	text-align: right;
}

/* Image */
.silas{
	max-height: 500px;
	max-width: 750px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
	float: left;
	padding: 15px;
}

/* Column widths*/
@media only screen and (min-width: 768px) {
    /* For desktop: */
	.col-0 {width: 100%;}
    .col-1 {width: 30%;}
    .col-2 {width: 70%;}
    
}