* {
    box-sizing: border-box;
	background-color: wheat;
}

[class*="col-"] {
    float: left;
	padding: 15px;
}


.header{
	text-align: center;
	font-family: 'Ranga', cursive;
}

#page-header{
	font-size: 3em;
}

.left{
	position: relative;
	background-color: floralwhite;
	height: 75vh;
	border-color: black;
	border: solid;
	font-family: sans-serif;
	
}


#instructions-header{
	font-size: 1.5em;
}

.left-body{
	max-height: inherit;
	box-sizing:border-box;
}

#counter{
	position: absolute;
	bottom: 3%;
	left: 80%;
	
	background-color: orange;
}


.right{
	background-color: red;
	height: 75vh;
}

disclaimer{
	text-align: left;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
	.col-0 {width: 100%;}
    .col-1 {width: 20%;}
    .col-2 {width: 80%;}
    
}